/* styles.css */
body {
    font-family: 'Arial', sans-serif; /* Phông chữ Arial cho toàn bộ trang */
    margin: 0;
    padding: 0;
}

.sidebar {
    height: 100vh; /* Chiều cao 100% của viewport */
}

.nav-link {
    color: #333; /* Màu chữ cho các mục menu */
    padding: 15px 20px; /* Thêm khoảng cách bên trong mỗi mục menu */
    border-radius: 5px; /* Bo góc cho các mục menu */
}

.nav-link:hover {
    background-color: #e2e6ea; /* Màu nền khi hover */
}

.nav-link.active {
    background-color: #007bff; /* Màu nền cho mục đang hoạt động */
    color: white; /* Màu chữ cho mục đang hoạt động */
}
